@using System.Threading.Tasks
@using PriceSnoop.Shared.Models
@model List<Product>
@{
    ViewData["Title"] = "Products List";
}

<h1>Products:</h1>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name</li>
    }
</ul>
